<h2>Edit <%= link_to_paste @paste %></h2>

<p>
<%= render :partial => "authorship", :locals => { :paste => @paste } %>
</p>

<% form_for @paste do |f| %>
  <%= hidden_field_tag "fork" %>

  <p>
    <%= f.label :lang, "Language" %>
    <%= f.select :lang, pastebin_language_choices %>
  </p>

  <%= f.text_area :text, :rows => 25, :cols => 80 %>

  <p>
    <%= f.submit "Update paste" %>
    or
    <%= submit_tag "Make this a new paste",
        :onclick => "$('fork').value = 'yes'" %>
  </p>
<% end %>
