<% title = l(:label_paste_plural) %>
<% html_title title %>

<% content_for :header_tags do %>
<style type="text/css">
.paste {
  margin-bottom: 1.5em;
}
.paste .author, .paste .actions {
  float: right;
}
.paste .box {
  margin-bottom: 2px;
}
</style>
<% end %>

<h2><%=h title %></h2>

<% if @pastes.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<% @pastes.each do |paste| %>
  <div class="paste">
    <%= link_to_paste paste %>&nbsp;&ndash;
    <% unless @project %>
      <%= link_to_project paste.project %>&nbsp;&ndash;
    <% end %>
    <div class="author">
      <%= render :partial => "authorship", :locals => { :paste => paste } %>
    </div>
    <%= pastebin_language_name(paste.lang) %>
    <div class="box">
      <pre><%=h paste.short_text %></pre>
    </div>
    <div class="actions">
      <%= manage_paste_links(paste) %>
    </div>
  </div>
<% end %>

<p class="pagination">
  <%= pagination_links_full @pastes_pages, @pastes_count %>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => { :project_id => @project,
        :key => User.current.rss_key } %>
<% end %>

<%= render "sidebar" if @project %>
