<% html_title "Pastes" %>

<h2>Pastes</h2>

<% @pastes.each do |paste| %>
  <p>
    <%= link_to_paste paste %> -
    <% unless @project %>
      <%= link_to_project paste.project %> -
    <% end %>
    <%= pastebin_language_name(paste.lang) %> -
    <code><%=h paste.short_text %></code><br>

    <%= render :partial => "authorship", :locals => { :paste => paste } %>

    <%= manage_paste_links(paste) %>
  </p>
<% end %>
