<% title = l(:label_paste_plural) %>

<% html_title title %>

<% content_for :header_tags do %>
<style type="text/css">
.paste .timestamp {
  font-size: 90%;
}
</style>
<% end %>

<h2><%=h title %></h2>

<% if @pastes.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<% @pastes.each do |paste| %>
  <p class="paste">
    <%= paste_timestamp(paste) %>&nbsp;&ndash;
    <%= link_to_paste paste %>&nbsp;&ndash;
    <% unless @project %>
      <%= link_to_project paste.project %>&nbsp;&ndash;
    <% end %>
    <%= pastebin_language_name(paste.lang) %>&nbsp;&ndash;
    <code><%=h paste.short_text %></code><br>

    <%= render :partial => "authorship", :locals => { :paste => paste } %>

    <%= manage_paste_links(paste) %>
  </p>
<% end %>

<p class="pagination">
  <%= pagination_links_full @pastes_pages, @pastes_count %>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => { :project_id => @project,
        :key => User.current.rss_key } %>
<% end %>

<%= render "sidebar" %>
