<% title = l(:label_paste_plural) %>

<% html_title title %>

<% content_for :header_tags do %>
<style type="text/css">
.paste .right {
  font-size: 80%;
  float: right;
  margin-left: 2em;
  width: 30%;
  display: inline-block;
  text-align: right;
}

.paste .authorship {
  font-size: 80%;
}
</style>
<% end %>

<h2><%=h title %></h2>

<% if @pastes.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<% @pastes.each do |paste| %>
  <div class="paste">

    <p class='right'>
      <strong class='lang'><%= pastebin_language_name(paste.lang) %></strong>
      <br>
      <span class='links'>
      <%= manage_paste_links(paste).html_safe %>
      </span>
    </p>

    <%= link_to_paste paste %>
    <% unless @project %>
      <%= link_to_project(paste.project).html_safe %>
    <% end %>
    <br>
    <code><%= paste.short_text %></code>
    <br>
    <br>
    <span class='authorship'>
      <%= render :partial => "authorship", :locals => { :paste => paste } %>
    </span>

  </div>
  <div style="clear:both"><hr></div>
<% end %>

<p class="pagination">
  <%= pagination_links_full @pastes_pages, @pastes_count %>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => { :project_id => @project,
        :key => User.current.rss_key } %>
<% end %>

<%= render "sidebar" %>
