<div class="contextual">
<%= link_to("New paste", new_paste_path(:project_id => @project), :class => 'icon icon-add') if User.current.allowed_to?(:manage_pastes, @project) %>
</div>

<h2>Pastes</h2>

<% @pastes.each do |paste| %>
  <p>
    <%= link_to "Paste ##{paste.id}", paste %> -
    <%= pastebin_language_name(paste.lang) %> -
    <code><%=h pastebin_text_preview(paste.text) %></code><br>
    Author: <%= link_to_user paste.author %>
    at <%= format_date(paste.updated_at) %>

    <%= manage_paste_links(paste) %>
  </p>
<% end %>
