<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>

<div class="contextual">
<%= link_to_all_pastes %>
<%= link_to_new_paste %>
</div>

<h2><%= @paste.title %></h2>

<p>
Link to this paste: <%= link_to paste_url(@paste), @paste %>
</p>

<p>
<%= render :partial => "authorship", :locals => { :paste => @paste } %><br>
Language: <%= pastebin_language_name(@paste.lang) %>
</p>

<%= highlighted_content_for_paste(@paste) %>

<p>
<%= manage_paste_links(@paste) %>
</p>
