<% content_for :header_tags do %>
<%= stylesheet_link_tag 'scm' %>

<style type="text/css">
/* This fixes the diff pastes display. */
div.paste .syntaxhl div {
  display: block;
}

table.CodeRay td.line_numbers {
  text-align: right;
}
</style>
<% end %>

<% html_title @paste.title %>

<h2><%=h @paste.title %></h2>

<p>
<%=l :label_paste_link_here, :link => link_to(paste_url(@paste), @paste) %>
</p>

<p>
<%= render :partial => "authorship", :locals => { :paste => @paste } %><br>
<%=l :label_paste_syntax, :lang => pastebin_language_name(@paste.lang) %>
</p>

<div class="paste">
<%= highlighted_content_for_paste(@paste) %>
</div>

<p>
<%= manage_paste_links(@paste) %>
</p>

<%= render "sidebar" %>
